body {background:#e8e8e8;}
a {star:expression(this.onFocus=this.blur());}
/*.wrapper{
background:#E8E8E8;
height:600px;
display: block;
font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
color:#29A0F9;
text-align: center;
font-size: 15px;
line-height: 50%;
box-shadow: 0 0 0px #011331;
border-radius: 5px;
padding: 10px;
overflow: hidden;
margin: 0px auto;
}*/

.header {
    position: fixed;
    left: 39%;
    top: 12%;
}
#register_form{
    display: none;
}
#register_form{
/*  -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
        -ms-filter: blur(0px);    
            filter: blur(0px);  */
    position: fixed;
    left:38%;
    width: 70%;
    margin-top:7%;
    /*text-align:center;*/
}

/*.blur {  -webkit-filter: blur(5px);
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);    
            filter: blur(5px);   }*/
.bg_image{
       
    position: fixed;
    height: 70%;
    width: 100%;
    margin-top: 3%;
    padding: 28px;
    /*top: 5%;*/
    background: url(../resources/TempBgm.jpg) no-repeat;
}

input{
    outline: none;
    border-radius: 10px;
    height:40px;
    width:240px;
    line-height:30px;
    border-right:none;
    margin: 0.5%;
    vertical-align:middle;
}
#button{
    text-align:left;
}
#login{
    text-align:left;
    decoration:none;
    border:0px;
}
#alert_danger{display:none;}
/*#max{background: #E8E8E8}*/
#alert_danger{
    position: fixed;
    top:0%;
    right: 25%;
    width: 20%;
}
.login_form{
    position: fixed;
    top: 30%;
    left: 39%;
    width: 100%;
    height: 80%;
}
.operatebtns{
    position: fixed;

    font-family: "微软雅黑";
    font-weight: bold;
    text-align: center;
    /*margin-top:4%;*/
    margin-top: 40%;
    width: 10%;
    height: 7%;
    font-size: 20px;
}
#registerbtn{
    /*position: fixed;*/
    left:38%;
    /*margin-right: 5%;*/
}
#loginbtn{
    left:38%;
    margin-left: 15%;
}
