body {background:#e8e8e8;}
a {star:expression(this.onFocus=this.blur());}

.header {
    position: relative;
    width: 600px;
    text-align: center;
    /*left: 50%;*/
    /*margin-left: -300px;    */
    top:30px;
}

#welcome_label{
    position: relative;
    height: 200px;
    width: 100%;
    text-align: center;
    top: 60px;
}
/*#register_form{
}
*/
#register_form{
    display: none;
    position: relative;
    left:38%;
    width: 1200px;
    top:40px;
}

.main_frame{
    position: relative;
    top: 60px;
    height: 420px;
    width: 100%;
    background: url(../resources/TempBgm.jpg) no-repeat;
    /*-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);    
        filter: blur(3px); */

    /*margin-top: 5%;*/
    /*padding: 28px;*/
    /*top: 5%;*/
}
/*#bgm>img{
    position: relative;
    top: 270px;
    height: 420px;
    width: 1366px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);    
        filter: blur(3px); 
    background: url(../resources/TempBgm.jpg) no-repeat;
    
}*/

.input{
    position: relative;
    outline: none;
    border-radius: 10px;
    height:40px;
    width:240px;
    line-height:35px;
    border-right:none;
    margin: 0.5%;
    font-family: 'Microsoft Yahei';
    vertical-align:middle;
}

#login{
    text-align:left;
    decoration:none;
    border:0px;
}
#alert_danger{display:none;}
/*#max{background: #E8E8E8}*/
#alert_danger{
    font-family: "Microsoft Yahei";
    font-size: 20px;
    text-align: center;
    /*border: 2px solid ;*/
    position: relative;
    left: 86px;
    border-radius: 10px;
}
.login_form{
    position: relative;
    top: 30%;
    left: 39%;
    width: 1366px;
    height: 300px;
}
/*#opertabtns{
    position: relative;
    left: 400px;
    margin-top: 40px;
    width: 200px;
    width: 600px;
    font-size: 20px;
}*/
.operatebtns{
    position: relative;
    font-family: "Microsoft Yahei";
    top: 120px;
    left: 50%;
    margin-left: -140px;
    width: 380px;
    height: 60px;
    
}
.registerbtn{
    width: 140px;
    margin-left: 50px;

}
.loginbtn{
    width: 140px;
}
.choice{
    position: relative;
    font-size: 20px;
    width: 400px;
    left:50%;
    margin-left: -160px;
    top: 200px;
    /*top:85%;*/
    font-family: "Microsoft Yahei";
}
#login_choice{
    margin-left: 5%;
}
#register_choice{
    margin-right: 5%;
}
