<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>
	I++ 俱乐部14届招新报名
</title>
<script type="text/javascript" src="./js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.js"></script>
<script type="text/javascript" src="./js/formChecker.js"></script>


<script type="text/javascript">
$(document).ready(function(){
	//load title animation
	$("#headtitle").css("display","none");
	$("#headtitle").fadeIn("slow");
	$("#headtitle").css("display","inline");

	//load text input slide animation
	$("#registerForm").css("display","none");
	$("#registerForm").slideDown("slow");
	// $("#registerForm").animate({
		// left:	
	// })
	$("#registerForm").css("display","inline");

	//load buttons animation
	$("#operatebtns").css("display","none");
	$("#operatebtns").fadeIn("slow");
	$("#operatebtns").css("display","inline");

	//bgm animation
	$("#bgm").css("display","none");
	$("#bgm").fadeIn("slow");
	$("#bgm").css("display","inline");

	//switch page
	$("#loginbtn").click(function(){
		$("#bgm").slideUp("slow");
		$("#headtitle").fadeOut("slow");
		$("#operatebtns").fadeOut("slow",function(){
			window.location.href = "./login.html";
			
		});

	})

});



function hover(id,action){
	obj=document.getElementById(id);
	obj.src="./resources/"+action+"hover.png";
}
function leave(id,action){
	obj=document.getElementById(id);
	obj.src="./resources/"+action+".png";
}

// function handInRegister(){
// 	//judge input and post form
// 	obj=document.getElementById("studentID");
// 	// here should be fixed
// 	// the range of the studentId is not correct
// 	if(obj.value<71113000 || obj.value>71113500)
// 	{
// 		document.getElementById("alert_danger").style.display="block";
// 	}
// 	else
// 		document.getElementById("register").submit();
// }
// function hideAlert(){
// 	// blur();
// 	document.getElementById("alert_danger").style.display="none";
}
</script>
<link rel="stylesheet" type="text/css" href="./css/style.css"/>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.css"/>
<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="./Buttons/css/buttons.css"/>
<link rel="stylesheet" type="text/css" href="./Buttons/css/font-awesome.min.css"/>
<style type="text/css">
h1{font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif; color: white;}
h2{font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif; color: white;}


</style>
</head>

<body>

<div id="alert_danger" class="alert alert-danger"></div>
<div id="bgm" name="formDiv" class="bgImage">
	<div id="headtitle" class="header">
		<h1>I++ Club 2014招新</h1>
	</div>
	<div id="registerForm" class="registerForm">
		<form id="register" action="../controller/register.php" method="post" >
		<div id="loginSection">
			<h2>姓名&nbsp;&nbsp;
			<input type=text class="inputframe" placeholder=" 王尼玛" id="name" name="name" onfocus="hideAlert()"/></h2>
			<h2>密码&nbsp;&nbsp;
			<input type=password class="inputframe" placeholder=" ******" id="pwd" name="pwd" onfocus="hideAlert()"/></h2>
		</div id="registerSection">
		<div>
			<h2>学号&nbsp;&nbsp;
			<input type=text class="inputframe" placeholder=" 71113****" id="studentID" name="studentID" onfocus="hideAlert()"/></h2>
			<h2>手机&nbsp;&nbsp;
			<input type=text class="inputframe" placeholder=" 18XXXXXXX" id="phone" name="phone" onfocus="hideAlert()"/></h2>
		</div>
		</form>
	</div>
</div>
<div id="operatebtns">
	<a id="registerbtn" href="#" onclick="handInRegister()" class="operatebtns btn btn-primary btn-lg">报名注册</a>
	<a id="loginbtn"  class="operatebtns btn btn-default btn-lg">登陆查看</a>
</div>
</body>
</html>
