<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>
	I++ 俱乐部14届招新报名
</title>
<script type="text/javascript" src="./js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.js"></script>
<script type="text/javascript" src="./js/formChecker.js"></script>


<script type="text/javascript">
var choice = 1;//0 for login, 1 for register

$(document).ready(function(){
	//load title animation
	$("#headtitle").css("display","none");
	$("#headtitle").fadeIn("slow");
	$("#headtitle").css("display","inline");

	//load buttons animation
	$("#operatebtns").fadeOut();
	$("#operatebtns").css("display","none");

	//bgm animation
	$("#bgm").css("display","none");
	$("#bgm").fadeIn("slow");
	$("#bgm").css("display","inline");
});



function hover(id,action){
	obj=document.getElementById(id);
	obj.src="./resources/"+action+"hover.png";
}
function leave(id,action){
	obj=document.getElementById(id);
	obj.src="./resources/"+action+".png";
}

function backChocie(){
	$("#login_choice").fadeIn();
	$("#register_choice").fadeIn();
	$("#register_form").slideUp();
	$("#operatebtns").css("display","none");
	
	$("#welcome_label").fadeIn();
	$("#welcome_label").css("display","inline");

}

function displayLoginSection(){
	$("#operatebtns").css("display","none");
	$("#operatebtns").fadeIn("slow");
	$("#operatebtns").css("display","inline");

	$("#welcome_label").css("display","none");

	$("#register_form").css("display","none");
	$("#register_form").slideDown("slow");
	$("#register_form").css("display","inline");
	$("#registerSection").slideUp("slow");

	$("#login_choice").fadeOut();
	$("#register_choice").fadeOut();
	choice = 0;
}


function displayRegisterSection(){
	$("#operatebtns").css("display","none");
	$("#operatebtns").fadeIn("slow");
	$("#operatebtns").css("display","inline");

	$("#welcome_label").css("display","none");
	$("#register_form").css("display","none");
	$("#register_form").slideDown();
	$("#registerSection").slideDown();
	$("#register_form").css("display","inline");

	$("#register_choice").fadeOut();
	$("#login_choice").fadeOut();
	choice = 1;
}


function hideAlert(){
	document.getElementById("alert_danger").style.display="none";
}
</script>
<link rel="stylesheet" type="text/css" href="./css/style.css"/>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.css"/>
<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="./Buttons/css/buttons.css"/>
<link rel="stylesheet" type="text/css" href="./Buttons/css/font-awesome.min.css"/>
<style type="text/css">
h1{font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif; color: white;}
h2{font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif; color: white;}


.choice{
	position: fixed;
	font-size: 20px;
	width: 44%;
	left:38%;
	top:85%;
	font-family: "Microsoft Yahei";
}
#login_choice{
	margin-left: 5%;
}
#register_choice{
	margin-right: 5%;
}
#welcome_label{
	position: fixed;
	top: 20%;
	left: 0%;
	/*right: 2%;*/
	width: 100%;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

</style>
</head>

<body>

<div id="alert_danger" class="alert alert-danger"></div>
<div id="bgm" name="formDiv" class="bg_image">
	<div id="headtitle" class="header">
		<h1>I++ Club 2014招新</h1>
	</div>
	<div id="welcome_label" class="jumbotron" >
		  <h1>我协是厉害啊</h1>
	</div>
	<div id="choice" class="choice">
		
		<button class="btn btn-primary btn-lg " id="register_choice" onclick="displayRegisterSection()">报名加入I++</button>
		<button class="btn btn-default btn-lg " id="login_choice" onclick="displayLoginSection()">已有账号登陆</button>
	</div>

	<div id="register_form" class="register_form">
		<form id="register" action="../controller/register.php" method="post" >
		<div id="loginSection">
			<h2>姓名&nbsp;&nbsp;
			<input type=text placeholder=" 王尼玛" id="name" name="name" onfocus="hideAlert()"/></h2>
			<h2>密码&nbsp;&nbsp;
			<input type=password placeholder=" ******" id="pwd" name="pwd" onfocus="hideAlert()"/></h2>
		</div>
		<div id="registerSection">
			<h2>学号&nbsp;&nbsp;
			<input type=text placeholder=" 71113****" id="studentID" name="studentID" onfocus="hideAlert()"/></h2>
			<h2>手机&nbsp;&nbsp;
			<input type=text placeholder=" 18XXXXXXX" id="phone" name="phone" onfocus="hideAlert()"/></h2>
		</div>
		</form>
	</div>
</div>
<div id="operatebtns">
	<a id="loginbtn" class="operatebtns btn btn-primary btn-lg">继续</a>
	<a id="registerbtn" href="#" class="operatebtns btn btn-default btn-lg" onclick="backChocie()">返回</a>
</div>
</body>
</html>
