<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
	I++ 俱乐部14届招新报名
</title>
<script type="text/javascript" src="./js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="./js/index.js"></script>
<script type="text/javascript" src="./js/bootstrap.js"></script>
<script type="text/javascript" src="./js/formChecker.js"></script>
<script type="text/javascript" src="./js/actions.js"></script>

<link rel="stylesheet" type="text/css" href="./css/style.css"/>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.css"/>
<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="./Buttons/css/buttons.css"/>
<link rel="stylesheet" type="text/css" href="./Buttons/css/font-awesome.min.css"/>
<style type="text/css">
h1{font-family: "Microsoft Yahei",Verdana, Arial, Helvetica, sans-serif; color: white;}
h2{font-family: "Microsoft Yahei",Verdana, Arial, Helvetica, sans-serif; color: white;}


</style>
<script type="text/javascript">

</script>


</head>

<body>
<div id="bgm" name="form_div" class="main_frame bg_image">
</div>
<div id="main_frame" class="main_frame">
	<div id="headtitle" class="header">
		<h1>I++ Club 2014招新</h1>
	</div>
	<div id="welcome_label" class="jumbotron" >
		<h1>C0d3 Y0vr Fvtvr3</h1>
	</div>
	<div id="choice" class="choice">
		
		<button class="btn btn-primary btn-lg " id="register_choice" onclick="displayRegisterSection()">报名加入I++</button>
		<button class="btn btn-default btn-lg " id="login_choice" onclick="displayLoginSection()">报过名了？登录</button>
	</div>

	<div id="register_form" class="register_form">
		<form id="form" method="post" >
		<div id="loginSection">
			<h2>学号&nbsp;&nbsp;
			<input class="input" type=text placeholder=" 71113****" id="studentID" name="studentID" onfocus="hideAlert()"/></h2>
			<h2>密码&nbsp;&nbsp;
			<input class="input" type=password placeholder=" ******" id="pwd" name="pwd" onfocus="hideAlert()"/></h2>
		</div>
		<div id="registerSection">
			<h2>姓名&nbsp;&nbsp;
			<input class="input" type=text placeholder=" 王尼玛" id="name" name="name" onfocus="hideAlert()"/></h2>
			<h2>手机&nbsp;&nbsp;
			<input class="input" type=text placeholder=" 18XXXXXXX" id="phone" name="phone" onfocus="hideAlert()"/></h2>
		</div>
		</form>
		<input class="input" id="alert_danger" class="alert alert-danger" readonly="readonly"/>
	</div>
</div>
<div id="operatebtns">
	<a id="loginbtn" class="operatebtns btn btn-primary btn-lg" onclick="continueStep()">继续</a>
	<a id="registerbtn" href="#" class="operatebtns btn btn-default btn-lg" onclick="backChocie()">返回</a>
</div>
</body>
</html>
