<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>
I++ 俱乐部14届招新报名
</title>
<script type="text/javascript" src="./js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    // alert("cao");
    $("#headtitle").css("display","none");
    $("#headtitle").slideDown("slow");
    $("#headtitle").css("display","inline");

    $("#login_form").css("display","none");
    $("#login_form").slideDown("slow");
    $("#login_form").css("display","inline");
});



function hover(){
	obj=document.getElementById("button");
	obj.src="./resources/loginhover.png";
}
function leave(){
	obj=document.getElementById("button");
	obj.src="./resources/login.png";
}
function submit(){
	document.getElementById("login_info").submit();
}
</script>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="Buttons/css/buttons.css"/>
<link rel="stylesheet" type="text/css" href="Buttons/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="Buttons/css/font-awesome-ie7.min.css"/>
<style type="text/css">

</style>
</head>
<body>


<div id="bgm" name="formDiv">
    <div id="headtitle">
        <h1 align=center>I++ Club 报名信息</h1>
    </div>
    <div id="login_form" class="login_form">

        <div class="register_form">
            <h2>学号:
            <input type=text class=input placeholder="学号" name="studentID"/><br/></h2>
            <h2>密码:
            <input type=password class=input placeholder="请输入密码" name="pwd"/></h2>
        </div>

        <!-- <br/><br/><br/><br/> -->
        <a href="#" onclick="submit()" class="loginbtn btn btn-primary btn-lg">登陆</a>
            <!-- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
        <!-- </form> -->
    </div>
</div>
<!-- </div> -->
</body>
</html>